Hello Python! This is my very first notebook

In [4]:
print("Hello World!")

Hello World!

In [5]:
print("Any String!")

Any String!

In [6]:
print(5+10)

15

In [7]:
print(True)

True

In [8]:
print(1.67)

1.67

In [9]:
print("Hello Class!")
print("TACC's Awesome!")

Hello Class!
TACC's Awesome!

In [10]:
2+5

7

In [11]:
2.3 +6.7

9.0

In [12]:
name = "Charlie"
NAME = "Alex"
print (NAME)

Alex

In [18]:
num1 = 5
num2 = 5.0
print(num1)

5

In [14]:
a = "Hello"
b = True
type (a)

str

In [15]:
type (b)

bool

In [16]:
type (num1)

int

In [19]:
type (num2)

float

In [20]:
string1 = str(num2)

In [21]:
print(string1)

5.0

In [22]:
print(type(string1))

<class 'str'>

In [23]:
numIn = input("Please enter a number:")

Please enter a number:5

In [24]:
myfile = open("test.dat", 'w')
myfile.write(numIn)
myfile.write("\n")
myfile.write("Hello World")
myfile.close

In [26]:
myfile2 = open("test.dat", "r")
content = myfile2.read()
myfile2.close
print(content)

In [27]:
a = 2
b = 3

In [28]:
print(b > a)

True

In [29]:
print (b!=a and a<b)

True

In [31]:
if(a<b):print("A is less than B")

A is less than B

In [34]:
if (b>a):
    print("B is greater than A")
    print("Conditionals are awesome!")
print("All done!")

B is greater than A
Conditionals are awesome!
All done!

In [35]:
if (b<a):
    print("B is greater than A")
    print("Conditionals are awesome!")
print("All done!")

All done!

In [36]:
for r in range(1, 3):
    print (r, r**2)

1 1
2 4

In [37]:
for i in range(1, 4):
    for j in range(1, 7):
        print (i, j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6

In [38]:
mylist = ["Charlie", 10, "yellow", 42, "Alex", 9, "black", 21]

In [40]:
for t in mylist: 
    print(t, type(t))

Charlie <class 'str'>
10 <class 'int'>
yellow <class 'str'>
42 <class 'int'>
Alex <class 'str'>
9 <class 'int'>
black <class 'str'>
21 <class 'int'>

In [41]:
print(mylist[3:6])

[42, 'Alex', 9]

In [42]:
print(mylist[2:])

['yellow', 42, 'Alex', 9, 'black', 21]

In [44]:
print (1 in mylist)

False

In [45]:
print (21 in mylist)

True

In [48]:
import math

def calc_hyp(a, b):
    h = math.sqrt(a*a + b*b)
    return h

In [50]:
my_h = calc_hyp(3, 4)
print (my_h)

5.0